test_32x32.mat
train_32x32.mat
train 
Project_pimc+/Pic Test/t1.jpg
Project_pimc+/Pic Test/t2.jpg
Project_pimc+/Pic Test/t3.jpg
Project_pimc+/Pic Test/t4.jpg
Project_pimc+/Pic Test/t5.jpg
Project_pimc+/Pic Test/t6.jpg
Basic_OpecCV/eng.traineddata
Basic_OpecCV/tha.traineddata
Project_pimc+/Pic Test/t7.jpg
Project_pimc+/Pic Test/t8.jpg
Project_pimc+/Pic Test/t9.jpg
Project_pimc+/Pic Test/t10.jpg
Project_pimc+/Pic Test/t1-1.jpg
Project_pimc+/Pic Test/t2-2.jpg
Project_pimc+/Pic Test/t3-3.jpg
Project_pimc+/Pic Test/t4-4.png
Project_pimc+/Pic Test/t5-5.jpg
Project_pimc+/Pic Test/t6-6.jpg
Project_pimc+/Pic Test/t7-7.jpg
Project_pimc+/Pic Test/t8-8.jpg
Project_pimc+/Pic Test/t9-9.png
Project_pimc+/Pic Test/t10-10.jpg
Project_pimc+/Pic Test/t4-4.jpg
Project_pimc+/Pic Test/A_New_Class_of_Learnable_Detectors_for_Categorisat.pdf
